<!-- adicionar_turma.html -->
<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Adicionar Turma</title>
</head>

<body>
  <h1>Adicionar Turma</h1>
  <form action="{{ url_for('turmas.create_turma') }}" method="post">
    <label for="descricao">Descrição</label><br>
    <input type="text" id="descricao" name="descricao"><br>
    <label for="professor_id">Professor</label><br>
    <select id="professor_id" name="professor_id" style="width: 80px">
      {% for professor in professores %}
          <option value="{{ professor.id }}">{{ professor.nome }}</option>
      {% endfor %}
  </select><br>

    <input type="submit" value="Adicionar Turma">
  </form>
</body>

</html>