<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualizar Turma</title>
  </head>

  <body>
    <h1>Atualizar Turma</h1>
    <form action="{{ url_for('turmas.update_turma', id_turma=turma.id) }}" method="POST">
      <!-- Altere o método de envio para PUT -->
      <input type="hidden" name="_method" value="PUT">
      <label for="descricao">Descricao</label>
      <input type="text" id="descricao" name="descricao" value="{{ turma.descricao }}"><br>
     
      <label for="professor_id">Professor</label>
      <input type="text" id="professor_id" name="professor_id" value="{{ turma.professor_id}}"><br>
     
      <button type="submit">Atualizar</button>
    </form>
  </body>

</html>